# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
clock/__pycache__/

# Logs
*.log
logs/

# macOS
.DS_Store

# Compiled files
*.dylib
*.so
*.dll
*.pyd
*.app

# Build and cache
build/
dist/
*.egg-info/
